.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  border: none;
}

.primary {
  background-color: #181818;
  color: white;
}

.primary:hover {
  background-color: #374151;
}

.secondary {
  background-color: white;
  color: black;
  border: 1px solid #d1d5db;
}

.secondary:hover {
  background-color: #f9fafb;
}

.link {
  color: #2563eb;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.default {
  height: 2.25rem;
  padding: 0 1rem;
}

.sm {
  height: 2rem;
  border-radius: 0.375rem;
  gap: 0.5rem;
  padding: 0 0.75rem;
}

.lg {
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 0 1.5rem;
}

.icon {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.375rem;
}