@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

